{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h2>Am I logged in? {{ request.user.is_authenticated }}</h2>
    {% if request.user.is_authenticated %}
    <h3>Welcome, {{ request.user.author.name }}!</h3>
    {% endif %}
    
    <div class="card">
      <ul>
        {% for recipe in recipes %}
        <li>
          <a class="bar" href="/recipe/{{ recipe.id }}/">{{ recipe.title }} </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="btn">
    <a href="/newrecipe/"><i>Submit New Recipe</i></a>
  </br>
</br>
    <a href="/newauthor/"><i>Submit New Author</i></a>
  </br>
</br>
    <a href="/signup/"><i>Sign Up</i></a>
  </br>
</br>
    <a href="/login/"><i>Log In</i></a>
  </br>
</br>
    <a href="/logout/"><i>Log Out</i></a>
  </div>
  </body>
</html>
