{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>{{ recipe.title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="card">
      <div class="header">
        <div class="button">
          <a href="#"><i class="link">Back to recipes</i></a>
        </div>
        <div class="button">
          {% if can_favorite %}
            <a href="/favorite/{{ recipe.id }}">
              Favorite
            </a>
          {% endif %}
        </div>
      </div>
      <div>
        <h1 class="title">
          {{ recipe.title }}
        </h1>
        <i class="summary">
          {{ recipe.time_required }} <br />
          {{ recipe.description }}</i
        >
        <p class="info">{{ recipe.instructions }}</p>
      </div>
      <a class="bar" href="/author/{{ recipe.author.id }}"
        >{{ recipe.author.name }}</a
        >
      {% if is_author %}
        <a class="bar" href="/edit_recipe/{{ recipe.id }}">
          Edit Recipe
        </a>
      {% endif %}
    </div>
  </body>
</html>
